.container{
    background-color:#ffffff;
    max-width: 1500px;
    max-height: 100%;
    margin:0 auto;
}

#mycanvas{
    border: 1px solid black;
    width: 60%;
    height: 100%;
    cursor:crosshair;/*cursor 游標樣式*/
    float:left;
}

#content{
    border: 1px solid black;
    width: 39%;
    height: 100%;
    float:right;
}